.header {
  position: fixed;
  z-index: 100;
  display: flex;
  width: 100%;
  padding: 0;
  background-color: $darken-2;
  box-sizing: border-box;
  padding:1rem 3rem;

  &__logo-box { 
    height: 7rem;
  }

  &__logo { 
    height: 100%;
  }

  &__heading-box {
    display: flex;
    align-items: flex-end;
    margin-left: 2rem;
  }
  
  &__heading { 
    padding: .5rem 1rem;
    font-size: 3.5rem;
    letter-spacing: 1px;
    color: $text-color-light;
  }

  &__nav-box {
    display: flex;
    align-items: flex-end;
    margin: 0 4rem;
  }
  
  &__nav-list {
    display: flex;
  }
  
  &__nav-item {background-color: green;
    position: relative;
    font-size: 2rem;
    
    &:not(:last-child){
      margin-right: 2.5rem;
    }
  }
  
  &__nav-link { background-color: red;
    color: $text-color-light;
    padding: 4px 1rem;
    transition: $transition-1;
    width: 14rem;

    &:hover {
      background-color:$brighten-1;
    }
  }

  &__nav-drop-1 { 
    position: absolute;
  }

  &__nav-drop-1-list { background-color: rgb(134, 108, 156); padding: 5px;
    display: grid;
    grid-auto-flow:column;
    grid-template-rows: repeat(9, 1fr);
    grid-auto-columns: max-content;
    
  }

  &__nav-drop-1-item { 
    position: relative;
    display: flex;
    margin-bottom: 5px;
    margin-right: 5px;
  }

  &__nav-drop-1-link { background-color: orange; padding:5px;
    flex: 1;
    padding-right: 4rem;

    &:hover{
      background-color: $brighten-1;
    }
  }

  /////////// STYLING FOR LEVEL 2 DROP DOWN ITEMS

  &__nav-drop-2 { 
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    transform: translate(100%, 1rem);
  }

  &__nav-drop-2-list { background-color: rgb(35, 126, 50); padding: 5px;
    display: grid;
    grid-auto-flow:column;
    grid-template-rows: repeat(9, 1fr);
    grid-auto-columns: max-content;
    
  }

  &__nav-drop-2-item { 
    display: flex;
    margin-bottom: 5px;
    margin-right: 5px;
  }

  &__nav-drop-2-link { background-color: rgb(14, 119, 119); padding:5px;
    flex: 1;
    padding-right: 4rem;

    &:hover{
      background-color: $brighten-1;
    }
  }
}