.header {
  position: fixed;
  z-index: 100;
  display: flex;
  width: 100%;
  padding: 0;
  background-color: $darken-2;
  box-sizing: border-box;
  padding:1rem 3rem;

  &__logo-box { 
    height: 7rem;
  }

  &__logo { 
    height: 100%;
  }

  &__heading-box {
    display: flex;
    align-items: flex-end;
    margin-left: 2rem;
  }
  
  &__heading { 
    padding: .5rem 1rem;
    font-size: 3.5rem;
    letter-spacing: 1px;
    color: $text-color-light;
  }

  &__nav-box {
    display: flex;
    align-items: flex-end;
    margin: 0 4rem;
  }
  
  &__nav-list {
    display: flex;
  }
  
  &__nav-item {
    position: relative;
    font-size: 2rem;
    
    &:not(:last-child){
      margin-right: 2.5rem;
    }
  }
  
  ///// HEADER BUTTONS
  &__nav-link { 
    background-color: $color-prim-light;
    color: $text-color-light;
    padding: 4px 1rem;
    transition: $transition-1;
    width: 14rem;
    border-radius: $bor-rad-sm;
    font-size: 2rem;
    font-weight: 400;

    &:hover, &:active {
      background-color: $color-prim-dark;
      cursor: pointer;
    }
  }

  //// CONTANER FOR FIRST LEVEL DROP MENU
  &__nav-drop-1 { 
    position: absolute;
    margin-top: 3px;
    display: none;
  }

  &__nav-drop-1-list { 
    background-color: $color-prim-dark;
    display: grid;
    grid-auto-flow:column;
    grid-template-rows: repeat(9, max-content);
    grid-auto-columns: max-content;
    padding: 5px;
    padding-bottom: 0;
    
  }

  &__nav-drop-1-item { 
    position: relative;
    display: flex;
    margin-bottom: 5px;
  }

  &__nav-drop-1-link { 
    background-color: $brighten-1; 
    padding:5px;
    flex: 1;
    padding-right: 4rem;
    font-size: 1.6rem;
    border-radius: $bor-rad-sm;
    color:$text-color-light;

    &:hover{
      background-color: $darken-1;
    }
  }

  //// CONTANER FOR SECOND LEVEL DROP MENU
  &__nav-drop-2 { 
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    transform: translate(96%, 1.6rem);
    display: none;
  }

  &__nav-drop-2-list { 
    background-color: $color-prim-light;
    grid-auto-flow:column;
    grid-template-rows: repeat(9, max-content);
    grid-auto-columns: max-content;
    padding: 5px;
  }

  &__nav-drop-2-item { 
    display: flex;
    margin-bottom: 5px;
    
  }

  &__nav-drop-2-link { 
    background-color: $brighten-1; 
    padding:5px;
    flex: 1;
    padding-right: 4rem;
    font-size: 1.4rem;

    &:hover{
      background-color: $darken-1;
    }
  }
}