
$bp-largest: 75em;     // 1200px

$full-desktop: 120em; // 1920px
$phone: 31.25em; // 500px

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem == 10px

  @media only screen and (max-width: $phone) {
    font-size: 50%; // 1rem == 8px
  }
}

body {
  background-image: radial-gradient($color-prim-light, $color-prim-dark);
  background-size: cover;
  background-attachment: fixed;
} 

.body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 192rem;
}

img {
  display: block;
}
