.search { 
  flex: 1;
  display: flex;
  align-items: flex-end;
  
  &__form { 
    flex: 1;
    display: flex;
    justify-content: space-between;
  }

  &__input {
    flex: 1;
    margin-right: 1rem;
    font-size: 2rem;
    padding-left: 2rem;
  }

  &__button { background-color: orange;
    border: none;
    //padding: 1rem;
    cursor: pointer;
    height: 4rem;
    width: 4rem;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
  }
}